.card-principal {
    position: absolute;
    justify-content: center;
    margin-top: 10%;
}

.card-header > h1 {
    text-align: center;
}

.botao-login {
    text-align: right;
}

.botao-cadastrar {
    text-align: center;
    margin-bottom: 0px !important;
}

.boas-vindas {
    padding-top: 15px !important; 
    padding-bottom: 0px !important;
}

.sair {
    text-decoration: none;
    color: white;
}

.sair:hover {
    text-decoration: none;
    color: white;
}